{% extends "careerhub/base.html" %}
{% block content %}
  {% if latest_surveys %}
      <table class="table table-bordered table-striped table-hover">
          <thead>
            <th>Name</th>
            <th>URL</th>
            <th>Market</th>
            <th>Locale</th>
            <th>Actions</th>
          </thead>
      {% for survey in latest_surveys %}
          <tbody>
           <tr>
             <td> {{ survey.name }} </td>
             <td> {{ survey.url }} </td>
             <td> {{ survey.market }} </td>
             <td> {{ survey.locale }} </td>
             <td><a href="{% url 'survey' pk=survey.id %}">Edit</a></td>
           </tr>
          </tbody>
      {% endfor %}
      </table>
  {% else %}
      <p>No surveys are available.</p>
  {% endif %}
{% endblock %}
